*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/
/.gradle-local/
/tools/adb_args.json
/tools/.adb-home/
/tools/auto_tune/out/
/.android-home/
/.home/
/tools/auto_tune/__pycache__/
/tools/auto_tune/eval_csv/

